.quiz-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 64px;
  width: 100%;
}
.question-no-container {
  width: 101px;
  height: 54px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  background: #d2a7b3;
}
.question-no-container p {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #334155;
  margin: 0px;
  margin-bottom: 2px;
}
.question-no-container p:nth-child(2) {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #f8fafc;
  margin: 0px;
}
.timer-container {
  width: 38px;
  height: 38px;
  left: 80%;
  border-radius: 25px;
  border: 2px solid #0ea5e9;
}
.timer-container p {
  width: 26px;
  height: 18px;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
  position: relative;
  bottom: 22px;
  left: 4px;
}

.next-button {
  position: inherit;
  padding: 8px;
  width: 120px;
  height: 40px;
  margin-left: auto;
  margin-right: 40px;
  background: #cbd5e1;
  border: transparent;
  border-radius: 8px;
  font-family: 'Inter', 'roboto', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #7d7d7d;
}

.nxtbtn-active {
  background: #0ea5e9 !important;
  color: #f8fafc !important;
}

.nxtbtn-active:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 786px) {
  .stats-container {
    min-width: 80vw;
  }
  .timer-container {
    left: 90%;
  }
  .next-button-container {
    top: 80%;
    right: 20%;
  }
}
