.start-quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    91.08deg,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
}

.start-quiz-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 90%;
  min-height: 80%;
  width: 328px;
  height: 533px;
  top: 83px;
  left: 16px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  background: #f8fafc;
}

.start-quiz-container form img {
  width: 153.13px;
  height: 122.36px;
  top: 10.48px;
  left: 27.67px;
  gap: 0px;
  opacity: 0px;
}
.start-quiz-container form h1 {
  font-family: Inter, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  color: #0ea5e9;
  margin-top: 20px;
}
.start-quiz-container form p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  color: #475569;
}
.start-quiz-container form button {
  width: Hug (100px) px;
  height: Hug (40px) px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  background: #0ea5e9;
  color: #f8fafc;
  font-family: Inter, Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.warning-container {
  margin-top: Max(30%, 30px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: #fef3c7;
  width: Fill (249px) px;
  height: Hug (32px) px;
  top: 83px;
  left: 16px;
  padding: 8px;
  border-radius: 12px;
  opacity: 0px;
}
.warning-icon {
  width: 16px !important;
  height: 16px !important;
  padding: 2px 0px 0px 0px;
  gap: 0px;
  opacity: 0px;
  margin-right: 0px !important;
}
.warning-text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #d97706 !important;
  margin: 0px !important;
}

@media (min-width: 768px) {
  .start-quiz-container form {
    width: 79.5%;
    height: 88.6%;
    position: absolute;
    top: Max(11%, 78px);
    left: Max(12%, 16px);
    right: Max(12%, 16px);
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
  }
  .start-quiz-container form img {
    width: 30%;
    height: 36%;
    top: 232px;
    left: 479px;
    gap: 0px;
    opacity: 0px;
  }
  .start-quiz-container form h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;
    color: #0ea5e9;
  }
  .start-quiz-container form p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #475569;
  }
  .start-quiz-container form button {
    width: Hug (100px) px;
    height: Hug (40px) px;
    top: 724px;
    left: 671px;
    gap: 0px;
    opacity: 0px;
  }
  .warning-container {
    margin-top: Max(10%, 30px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 517px;
    height: 52px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background: #fef3c7;
  }
  .warning-icon {
    width: 24px !important;
    height: 24px !important;
    padding: 2px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
  }
  .warning-text {
    margin-left: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #d97706 !important;
    margin: 8px !important;
  }
}
