.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  height: 59px;
  gap: 0px;
  opacity: 0px;
  background: #fafbfe;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
}

.header-logo {
  width: Hug (77px) px;
  height: Hug (56px) px;
  gap: 8px;
  opacity: 0px;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logout-button.desktop {
  display: none;
}

@media (min-width: 768px) {
  .logout-icon {
    display: none;
  }

  .logout-button.desktop {
    display: block;
    width: Hug (86px) px;
    height: Hug (40px) px;
    padding: 12px 24px 12px 24px;
    /* gap: 8px; */
    border-radius: 8px;
    opacity: 0px;
    border: 2px solid #afafaf;
    color: #afafaf;
    background: #ffffff;
    cursor: pointer;
    width: Hug (38px) px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
  }
  .header-logo {
    height: 50px;
    margin-top: 10px;
  }
}
