ul {
  list-style: none;
}
.question-container {
  width: 100%;
  margin-right: auto;
}
.question-container p {
  font-family: 'Inter', 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  color: #334155;
  transform: rotate(-0.01deg);
}
.question-container ul li {
  position: relative;
  right: 40px;
  background-color: transparent;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.options-container li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .options-container {
    flex-direction: row;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .question-container p {
    font-size: 18px;
    margin-bottom: 28px;
    line-height: 24px;
  }
  .flex-unwrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
