.option-button {
  background: #cbd5e1;
  color: #334155;
  width: 221px;
  height: 48px;
  padding: 8px 24px 8px 24px;
  font-weight: 400;
  gap: 10px;
  border-radius: 8px;
  text-align: left;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}
.option-image {
  width: 176px;
  height: 50px;
  margin-bottom: 12px;
  opacity: 0px;
}

@media (min-width: 768px) {
  .option-button {
    width: min(25vw, 380px);
    height: min(8vh, 64px);
    font-size: 16px;
  }
  .option-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 25px;
  }
  .option-radio input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
